---
- name: Check if processor supports virtualization
  ansible.builtin.shell: >
    grep -E --count '(vmx|svm)' /proc/cpuinfo || true
  changed_when: false
  register: _check_cpuinfo
  tags: kvm:install

- name: Fail if processor does not support virtualization
  ansible.builtin.fail:
    msg: The machine processor does not support virtualization.
  when: _check_cpuinfo.stdout == "0"
  tags: kvm:install

- name: Install server packages
  ansible.builtin.apt:
    name: "{{ kvm_server_packages }}"
    state: present
  when: kvm_install_server_packages | bool
  tags: kvm:install

- name: Install Virtual Machine Manager (virt-manager)
  ansible.builtin.apt:
    name: "{{ kvm_virt_manager_packages }}"
    state: present
  when: kvm_install_virt_manager | bool
  tags: kvm:install

- name: Install client utilities
  ansible.builtin.apt:
    name: "{{ kvm_client_utilities_packages }}"
    state: present
  when: kvm_install_client_utilities | bool
  tags: kvm:install

- name: Add users to KVM system groups
  ansible.builtin.user:
    name: "{{ item }}"
    groups: "{{ kvm_system_groups }}"
    append: true
  loop: "{{ kvm_users }}"
  tags: kvm:config

# Avoid permission error on '/var/lib/libvirt/images' when using Terraform libvirt provider
# Ref: https://github.com/dmacvicar/terraform-provider-libvirt/issues/546#issuecomment-612983090
- name: Disable libvirt QEMU security driver
  ansible.builtin.lineinfile:
    path: /etc/libvirt/qemu.conf
    regexp: "^(# *)?security_driver .*"
    line: security_driver = "none"
  notify: kvm - restart libvirtd
  when: kvm_disable_libvirt_qemu_security_driver | bool
  tags: kvm:config
