---
- name: Install packages
  ansible.builtin.package:
    name: "{{ ['git'] + git_extra_packages }}"
    state: present
  tags: git:install

- name: Install git-open
  ansible.builtin.get_url:
    url: "{{ git_open_dl_url }}"
    dest: "{{ git_open_bin_path }}"
    force: true
    owner: root
    group: root
    mode: "0755"
  tags: git:open

- name: Create gitconfig files
  ansible.builtin.copy:
    content: "{{ git_config_content }}"
    dest: "{{ item.path | default(item) }}"
    owner: "{{ item.owner | default(omit) }}"
    group: "{{ item.owner | default(omit) }}"
    mode: "0644"
  loop: "{{ git_config_files }}"
  loop_control:
    label: "{{ item.path | default(item) }}"
  when: git_config_content != ""
  tags: git:config

- name: Clone repositories
  ansible.builtin.git:
    repo: "{{ item.repo }}"
    dest: "{{ item.dest | expanduser }}"
    version: "{{ item.version | default(omit) }}"
    update: "{{ item.update_dest | default(omit) }}"
  loop: "{{ git_repos }}"
  loop_control:
    label: "{{ item.repo }}"
  become: "{{ item.become | default(false) }}"
  tags: git:repos

- name: Run repository scripts
  ansible.builtin.shell:
    cmd: "{{ item.1.cmd | default(item.1) }}"
    creates: "{{ item.1.creates | default(omit) }}"
    chdir: "{{ item.1.chdir | default(item.0.dest) }}"
  loop: "{{ git_repos | subelements('scripts') }}"
  become: "{{ item.1.become | default(false) }}"
  register: _script
  changed_when: >
    (item.1.changed_stdout | default('%UNDEFINED%')) in _script.stdout
    or (item.1.changed_stderr | default('%UNDEFINED%')) in _script.stderr
  tags: git:repos
