---
# ------------------------------------------------------------------------------
# Helper variables
# ------------------------------------------------------------------------------

__current_user: "{{ lookup('ansible.builtin.env', 'USER') }}"
__templates_dir: "{{ playbook_dir }}/templates"

# Opt-in tasks (see the 'setup.yml' playbook)
configure_xubuntu_desktop: "{{ lookup('ansible.builtin.env', 'DESKTOP_SESSION') == 'xubuntu' }}"
install_cinc_workstation: false
install_cloudflare_client: false
install_keybase: false
install_kvm: false
install_q: false
install_rclone: true
install_steam: false
install_zoom: false

# ------------------------------------------------------------------------------
# Tasks configuration
# ------------------------------------------------------------------------------

# base
base_alternatives:
  - name: editor
    path: /usr/bin/vim.basic

# ulauncher
ulauncher_config:
  hotkey-show-app: <Alt>F1
  show-indicator-icon: false
  theme-name: dark

# dotfiles
dotfiles_extra_dirs:
  - ~/.bashrc.d

dotfiles_vim_plugins:
  - https://github.com/editorconfig/editorconfig-vim.git
  - https://github.com/hashivim/vim-terraform.git

# resticprofile
resticprofile_symlink_name: rp

resticprofile_config_templates:
  - src: "{{ __templates_dir }}/resticprofile/.env.backblaze.j2"
    sensitive: true
  - src: "{{ __templates_dir }}/resticprofile/.env.homelab.j2"
    sensitive: true
  - src: "{{ __templates_dir }}/resticprofile/repo-password.txt.j2"
    sensitive: true
  - "{{ __templates_dir }}/resticprofile/excludes.txt.j2"
  - "{{ __templates_dir }}/resticprofile/includes.txt.j2"
  - "{{ __templates_dir }}/resticprofile/send-after-fail.body.json.j2"
  - "{{ __templates_dir }}/resticprofile/systemd-working-directory.conf.j2"
  - "{{ __templates_dir }}/resticprofile/profiles.yaml.j2"

resticprofile_enable_schedules:
  - aws

resticprofile_disable_schedules:
  - homelab
  - backblaze

# firefox
firefox_set_as_default_browser: true

# mise
mise_enable_upgrade: false
mise_bashrc_file: ~/.bashrc.d/mise.bash
mise_activate_command: mise activate bash --shims

# docker
docker_users:
  - "{{ __current_user }}"

docker_daemon_options:
  # Change the default IPAM config to avoid overlapping production networks that use the 172.16/12 range
  # Ref: https://docs.docker.com/engine/reference/commandline/dockerd/#daemon-configuration-file
  bip: 192.168.243.1/24
  default-address-pools:
    # Ref: ipcalc-ng 192.168.244.0/22 -S 27
    - base: 192.168.244.0/22
      size: 27

# kvm
kvm_install_server_packages: true
kvm_install_virt_manager: true
kvm_install_client_utilities: true

kvm_users:
  - "{{ __current_user }}"

kvm_disable_libvirt_qemu_security_driver: true

# packages - APT
packages_apt_install:
  # Base
  - apt-transport-https
  - bash-completion
  - ca-certificates
  - curl
  - dkms
  - exo-utils
  - tmux
  - tree
  - wget
  - xfce4-terminal
  # Password management
  - keepassxc
  - makepasswd
  - pwgen
  - seahorse
  # Development
  - gedit
  - gedit-plugins
  - jq
  - vim
  # Development/Python
  - libbz2-dev
  - libffi-dev
  - libreadline-dev
  - libsqlite3-dev
  - libssl-dev
  - python3-dev
  - python3-venv
  - zlib1g-dev
  # Sysadmin
  - arping
  - cifs-utils
  - conntrack
  - ethtool
  - gdebi-core
  - gnome-disk-utility
  - cracklib-runtime
  - exfat-fuse
  - exfatprogs
  - htop
  - iotop
  - iptraf-ng
  - lm-sensors
  - lshw
  - lsof
  - mtr-tiny
  - netcat-openbsd
  - network-manager-openvpn
  - network-manager-openvpn-gnome
  - nmap
  - openssh-client
  - rsync
  - traceroute
  - whois
  # Media
  - flameshot
  - fonts-dejavu
  - fonts-dejavu-extra
  - fonts-firacode
  - fonts-inconsolata
  - fonts-liberation
  - fonts-liberation2
  - fonts-noto-color-emoji
  - gimp
  - gpick
  - graphviz
  - peek
  - playerctl
  - ristretto
  - shotwell
  - vlc
  - vlc-plugin-notify
  # Utilities
  - ack
  - atool
  - atril
  - mate-calc
  - dconf-editor
  - dos2unix
  - engrampa
  - gvfs-backends
  - ipcalc-ng
  - moreutils
  - multitail
  - p7zip-full
  - p7zip-rar
  - pbzip2
  - pigz
  - printer-driver-cups-pdf
  - rename
  - sqlite3
  - transmission-gtk
  - unar
  - unrar
  - unzip
  - wmctrl
  - xclip
  - xdotool
  - xz-utils
  - zenity

packages_apt_remove:
  - command-not-found
  - gnome-software
  - gnome-software-common
  - gnome-software-plugin-snap
  - gnumeric
  - hexchat
  - motd-news-config
  - mousepad
  - pidgin
  - pidgin-otr
  - sgt-launcher
  - sgt-puzzles
  - thunderbird
  - unattended-upgrades
  - xfburn
  - xul-ext-ubufox

packages_apt_autoremove: true

# packages - snap
packages_snap_remove_snapd: true

# packages - pipx
packages_pipx_install:
  - name: pre-commit
    state: latest
  - name: ps-mem
    global: true

# packages - config files
packages_config_files:
  - path: ~/.config/flameshot/flameshot.ini
    content: |
      [General]
      contrastOpacity=188
      disabledTrayIcon=true
      drawColor=#ff0000
      drawThickness=3
      savePath={{ ("~/" + xubuntu_xdg_download_dir) | expanduser }}

# xubuntu - autostart
xubuntu_autostart_disable_apps:
  - blueman
  - update-notifier

# xubuntu - XDG user dirs
xubuntu_xdg_documents_dir: library/Documents
xubuntu_xdg_download_dir: cache
xubuntu_xdg_music_dir: library/Music
xubuntu_xdg_pictures_dir: library/Pictures
xubuntu_xdg_publicshare_dir: library/Public
xubuntu_xdg_templates_dir: library/Templates
xubuntu_xdg_videos_dir: library/Videos

# xubuntu - bookmarks
xubuntu_bookmarks:
  - /arquivos
  - ~/{{ xubuntu_xdg_download_dir }}
  - ~/projects

# xubuntu - keyboard shortcuts
# Note: <Primary> means <Ctrl>
xubuntu_remove_keyboard_shortcuts:
  - <Alt>F1
  - <Alt>F3
  - <Alt>Print
  - <Primary>Escape
  - <Primary><Alt>t
  - <Primary><Alt>Escape
  - <Super>f
  - XF86Messenger

xubuntu_keyboard_shortcuts:
  # Audio
  - shortcut: <Primary><Super>Down
    cmd: amixer -q -M -D pulse sset Master 5%-
  - shortcut: <Primary><Super>Up
    cmd: amixer -q -M -D pulse sset Master 5%+
  # Spotify
  - shortcut: XF86Music
    cmd: spotify
  - shortcut: <Super>r
    cmd: spotify
  - shortcut: <Primary><Super>Insert
    cmd: playerctl play-pause
  - shortcut: <Primary><Super>Left
    cmd: playerctl previous
  - shortcut: <Primary><Super>Right
    cmd: playerctl next
  # Screenshot
  - shortcut: Print
    cmd: xfce4-screenshooter -f
  - shortcut: <Shift>Print
    cmd: xfce4-screenshooter -w
  - shortcut: <Super>Print
    cmd: flameshot gui
  # User session
  - shortcut: <Primary><Alt>Delete
    cmd: xfce4-session-logout
  - shortcut: <Primary><Alt>l
    cmd: xflock4
  # Window Manager
  - shortcut: <Primary><Alt>Left
    cmd: move-to-next-monitor
  - shortcut: <Primary><Alt>Right
    cmd: move-to-next-monitor
  # Xfce tools
  - shortcut: <Super>F1
    cmd: xfce4-find-cursor
  - shortcut: <Super>p
    cmd: xfce4-display-settings --minimal
  - shortcut: <Super>z
    cmd: xfce4-popup-applicationsmenu
  # Terminal
  - shortcut: <Super>Return
    cmd: xfce4-terminal --maximize
  - shortcut: <Super>KP_Enter
    cmd: xfce4-terminal --maximize
  # Utilities
  - shortcut: <Super>e
    cmd: exo-open --launch FileManager
  - shortcut: <Super>k
    cmd: keepassxc
  - shortcut: <Super>n
    cmd: code {{ xubuntu_home_dir }}/notes
  - shortcut: <Super>t
    cmd: exo-open --launch TerminalEmulator
  - shortcut: <Super>w
    cmd: sensible-browser https://keep.google.com

xubuntu_remove_window_manager_shortcuts:
  - <Alt>F7
  - <Alt>F9
  - <Primary>F1
  - <Primary>F2
  - <Primary>F3
  - <Primary>F4
  - <Primary>F5
  - <Primary>F6
  - <Primary>F7
  - <Primary>F8
  - <Primary>F9
  - <Primary>F10
  - <Primary>F11
  - <Primary>F12
  - <Primary><Alt>Up
  - <Primary><Alt>Down
  - <Primary><Alt>Left
  - <Primary><Alt>Right

xubuntu_window_manager_shortcuts:
  - shortcut: <Super>s
    cmd: hide_window_key
  - shortcut: <Super>Up
    cmd: maximize_window_key

# xubuntu - theme
xubuntu_theme_packages:
  - greybird-gtk-theme
  - oxygen-cursor-theme

xubuntu_system_theme: Greybird-dark
xubuntu_cursor_theme: oxy-zion

# xubuntu - fonts
xubuntu_fonts_packages:
  - fonts-dejavu-core
  - fonts-noto-core
  - fonts-noto-mono

xubuntu_fonts_archives:
  - name: JetBrainsMono
    url: https://github.com/JetBrains/JetBrainsMono/releases/download/v2.304/JetBrainsMono-2.304.zip
    include_files:
      - fonts/*

xubuntu_system_default_font: Noto Sans 9
xubuntu_system_monospace_font: DejaVu Sans Mono 10
xubuntu_window_title_font: Noto Sans Bold 9

# xubuntu - Thunar
xubuntu_thunar_settings:
  - property: /last-location-bar
    value: ThunarLocationButtons
    value_type: string
  - property: /last-menubar-visible
    value: "false"
    value_type: bool
  - property: /last-restore-tabs
    value: "false"
    value_type: bool
  - property: /last-sort-column
    value: THUNAR_COLUMN_NAME
    value_type: string
  - property: /last-sort-order
    value: GTK_SORT_ASCENDING
    value_type: string
  - property: /last-view
    value: ThunarDetailsView
    value_type: string
  - property: /last-window-maximized
    value: "true"
    value_type: bool
  - property: /misc-change-window-icon
    value: "true"
    value_type: bool
  - property: /misc-confirm-close-multiple-tabs
    value: "false"
    value_type: bool
  - property: /misc-date-style
    value: THUNAR_DATE_STYLE_LONG
    value_type: string
  - property: /misc-full-path-in-title
    value: "false"
    value_type: bool
  - property: /misc-open-new-window-as-tab
    value: "true"
    value_type: bool
  - property: /misc-thumbnail-mode
    value: THUNAR_THUMBNAIL_MODE_ONLY_LOCAL
    value_type: string
  - property: /misc-folders-first
    value: "true"
    value_type: bool
  - property: /misc-volume-management
    value: "false"
    value_type: bool
  - property: /shortcuts-icon-size
    value: THUNAR_ICON_SIZE_24
    value_type: string

# xubuntu - Xfconf
xubuntu_xfconf_settings:
  # Desktop
  - channel: xfce4-desktop
    property: /desktop-icons/style
    value: "0"
    value_type: int
  - channel: xfce4-desktop
    property: /desktop-menu/show
    value: "true"
    value_type: bool
  - channel: xfce4-desktop
    property: /desktop-menu/show-icons
    value: "true"
    value_type: bool
  - channel: xfce4-desktop
    property: /windowlist-menu/show
    value: "false"
    value_type: bool
  # Window Manager
  - channel: xfwm4
    property: /general/button_layout
    value: CMH|O
    value_type: string

# xubuntu - default apps
xubuntu_default_web_browser: firefox
