---
packages_apt_install:
  - apt-transport-https
  - ca-certificates
  - curl
  - tmux
  - jq
  - vim
  - htop
  - openssh-client
  - rsync
  - unzip

docker_users:
  - "{{ lookup('ansible.builtin.env', 'USER') }}"
