[tools]
python = "3.13"
shellcheck = "0.11"
uv = "latest"

[vars]
PROJECT_NAME = "{{ cwd | basename }}"
VENV_DIR = "{{ env.HOME }}/.virtualenvs/{{ vars.PROJECT_NAME }}"
COLLECTIONS_PATH = "collections"
ROLES_PATH = "roles/public"

[env]
_.python.venv = { path = "{{ vars.VENV_DIR }}", create = true }

[tasks.pre-commit]
description = "Run pre-commit"
run = "pre-commit run --all-files --color always"

[tasks.bump-version]
description = "Bump the project version"
run = "bump-my-version bump patch"

[tasks.git-push]
description = "Push the current branch and related tags"
run = "git push --follow-tags origin HEAD"

[tasks.clean]
description = "Remove Ansible installation artifacts (virtualenv, external collections, external roles, etc)"
run = [
  "rm -rf -- '{{ vars.VENV_DIR }}'",
  "git clean -fdx -- '{{ vars.COLLECTIONS_PATH }}' '{{ vars.ROLES_PATH }}'",
]

[tasks."install:ansible"]
description = "Install Ansible and project dependencies"
run = "uv pip install -r requirements.txt"

[tasks."install:galaxy"]
description = "Install Galaxy dependencies from requirements files"
run = [
  "ansible-galaxy collection install --upgrade --requirements-file requirements.yml --collections-path '{{ vars.COLLECTIONS_PATH }}'",
  "ansible-galaxy role install --role-file requirements.yml --roles-path '{{ vars.ROLES_PATH }}'",
]

[tasks.install]
description = "Run all installation tasks"
run = [
  "mise run install:ansible",
  "mise run install:galaxy",
]

[tasks.venv-activate]
description = "Print the virtualenv activation command"
run = "echo source '{{ vars.VENV_DIR }}/bin/activate'"
quiet = true

[tasks.show-env]
description = "Print information about the environment"
run = [
  "ansible --version",
  "ansible-galaxy collection list",
  "ansible-galaxy role list",
]

[tasks."vault:password"]
description = "Configure Ansible Vault password"
run = "doppler secrets get VAULT_PASSWORD --project {{ vars.PROJECT_NAME }} --plain | ./scripts/vault-keyring.sh --debug"

[tasks."vault:download-vars"]
description = "Create the variables file containing Vault secrets"
run = [
  "doppler secrets get VAULT_YAML --project {{ vars.PROJECT_NAME }} --plain > vault.yml",
  "chmod 600 vault.yml",
]

[tasks."vault:setup"]
description = "Setup the repository to use Ansible Vault"
run = [
  "mise run vault:password",
  "mise run vault:download-vars",
]

[tasks."vault:upload-vars"]
description = "Upload the variables file to the cloud"
run = "cat vault.yml | doppler secrets set VAULT_YAML --project {{ vars.PROJECT_NAME }} --silent"
