---
- name: Include Snap tasks
  ansible.builtin.import_tasks: snap.yml
  when: ansible_facts.distribution == "Ubuntu"
  tags: packages:snap

- name: Include APT tasks
  ansible.builtin.import_tasks: apt.yml
  when: ansible_facts.pkg_mgr == "apt"
  tags: packages:apt

- name: Include pipx tasks
  ansible.builtin.import_tasks: pipx.yml
  tags: packages:pipx

- name: Include config files tasks
  ansible.builtin.import_tasks: config-files.yml
  tags: packages:config-files
