# {{ ansible_managed  }}

*.box
*.img
*.iso
*.qcow2
*.pyc

.asdf/
.aws-sam/
.config/packer/plugins/
.docusaurus/
.dropbox/
.dropbox-dist/
.gem/
.krew/
.minikube/
.npm/
.nvm/
.rbenv/
.terraform/
.terraform.d/
.terragrunt-cache/
.vagrant/
.venv/
.venvs/
.virtualenvs/
.yarn/

node_modules/
plugin-cache/
restic-ignore/
restic-ignored/
.restic-ignore/
.restic-ignored/

# Temporary/test users
/home/temp*
/home/test*

# Home
/home/*/.ansible
/home/*/.cache
/home/*/.camera.ui/recordings
/home/*/.chef/gem
/home/*/.chef-workstation
/home/*/.cinc/gem
/home/*/.cinc-workstation
/home/*/.driftctl/plugins
/home/*/.pex
/home/*/.rye
/home/*/.vagrant.d
/home/*/.vscode
/home/*/.zoom
/home/*/Dropbox
/home/*/dwhelper
/home/*/go
/home/*/VirtualBox VMs

# Config
/home/*/.config/Code
/home/*/.config/discord
/home/*/.config/Franz
/home/*/.config/GitDock
/home/*/.config/Lens
/home/*/.config/OpenLens
/home/*/.config/Keybase
/home/*/.config/Slack
/home/*/.config/skypeforlinux
/home/*/.config/spotify

# Local
/home/*/.local/pipx
/home/*/.local/share/data
/home/*/.local/share/mise
/home/*/.local/share/Trash
/home/*/.local/share/uv
/home/*/.local/share/virtualenv
/home/*/.local/var
/root/.local/pipx
/root/.local/share
/root/.local/var

# Browsers
/home/*/.config/BraveSoftware/Brave-Browser
/home/*/.config/chromium
/home/*/.config/google-chrome
/home/*/.mozilla

# Steam
/home/*/.local/share/Steam
/home/*/.steam*

# WPS Office
/home/*/.kingsoft
/home/*/.local/share/Kingsoft

/root/.cache
/root/.rye
/root/.vagrant.d
/root/go
/root/snap

/arquivos/apps/iso
/arquivos/cache/spotify
/arquivos/cache/temp
/arquivos/cache/torrent*
/arquivos/dados/virtualenvs
/arquivos/jogos/steam
/arquivos/kb
/arquivos/kvm/*images*
/arquivos/media
/arquivos/mega/kb
/arquivos/mp3
/arquivos/vm

# Work-related
dr-git-repos/
*-dr-git-repos/
