# {{ ansible_managed }}

# Repository
RESTIC_PASSWORD='{{ vault_rp_repo_password }}'

# restic server
RESTIC_REST_USERNAME='{{ vault_rp_rest_server_username }}'
RESTIC_REST_PASSWORD='{{ vault_rp_rest_server_password }}'

# S3 bucket
AWS_ACCESS_KEY_ID='{{ vault_rp_backblaze_access_key }}'
AWS_SECRET_ACCESS_KEY='{{ vault_rp_backblaze_secret_key }}'
