---
- name: Check if version {{ restic_version }} is installed
  ansible.builtin.shell: >
    {{ restic_bin_path }} version || true
  register: _check_version
  changed_when: false

- name: Run installation tasks
  when:
    - "('restic ' ~ restic_version ~ ' compiled') not in _check_version.stdout"
  block:
    - name: Create temporary directory
      ansible.builtin.tempfile:
        state: directory
        prefix: ansible-restic-
      register: _temp_dir

    - name: Set helper variables
      ansible.builtin.set_fact:
        _archive_local_file: "{{ _temp_dir.path }}/{{ restic_archive_url | basename }}"

    - name: Download archive
      ansible.builtin.get_url:
        url: "{{ restic_archive_url }}"
        dest: "{{ _archive_local_file }}"
        checksum: sha256:{{ restic_sha256sums_url }}

    # The 'unarchive' module does not handle .bz2 files that do not contain a .tar archive
    # Ref: https://docs.ansible.com/ansible/latest/collections/ansible/builtin/unarchive_module.html#notes
    - name: Extract binary from the archive
      ansible.builtin.shell: >
        bzip2 --decompress --stdout '{{ _archive_local_file }}' > '{{ restic_bin_path }}'

    - name: Remove temporary directory
      ansible.builtin.file:
        path: "{{ _temp_dir.path }}"
        state: absent

- name: Set binary file permissions
  ansible.builtin.file:
    path: "{{ restic_bin_path }}"
    state: file
    owner: "{{ restic_bin_owner }}"
    group: "{{ restic_bin_group }}"
    mode: "{{ restic_bin_mode }}"

- name: Configure non-root user capabilities on binary file
  community.general.capabilities:
    path: "{{ restic_bin_path }}"
    capability: cap_dac_read_search=+ep
    state: "{{ (restic_configure_non_root_capabilities | bool) | ternary('present', 'absent') }}"
  # Module is not idempotent, ignore changes for now
  # Ref: https://github.com/ansible-collections/community.general/issues/4067
  changed_when: false

- name: Configure Bash completion
  ansible.builtin.command: >
    {{ restic_bin_path }} generate --bash-completion /etc/bash_completion.d/restic
  changed_when: false
  when: restic_configure_bash_completion | bool
