---
resticprofile_version: 0.32.0

resticprofile_dl_arch: "{{ 'arm64' if ansible_facts.architecture == 'aarch64' else 'amd64' }}"

resticprofile_dl_url: >-
  https://github.com/creativeprojects/resticprofile/releases/download/v{{ resticprofile_version }}/resticprofile_{{ resticprofile_version }}_linux_{{ resticprofile_dl_arch }}.tar.gz

resticprofile_bin_path: /usr/local/bin/resticprofile

resticprofile_symlink_name: ""

resticprofile_log_dir: /var/log/resticprofile
resticprofile_log_owner: root
resticprofile_log_group: root

resticprofile_config_dir: /etc/resticprofile
resticprofile_config_file: "{{ resticprofile_config_dir }}/profiles.yaml"
resticprofile_config_owner: root
resticprofile_config_group: root
resticprofile_config_inline: {}
resticprofile_config_templates: []

resticprofile_enable_schedules: []
resticprofile_disable_schedules: []
