# {{ ansible_managed }}

[Interface]
PrivateKey = {{ _wg_private_key_slurp.content | b64decode | trim }}

{% for k, v in _wg_config_item.interface.items() %}
{{ k }} = {{ v }}
{% endfor %}

{% if _wg_config_item.configure_iptables_nat | default(false) %}
PostUp = iptables -t nat -I POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostUp = iptables -A FORWARD -i %i -j ACCEPT
PostUp = iptables -A FORWARD -o %i -j ACCEPT
PreDown = iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PreDown = iptables -D FORWARD -i %i -j ACCEPT
PreDown = iptables -D FORWARD -o %i -j ACCEPT
{% endif %}

{% for peer in _wg_config_item.peers %}
[Peer]
{% for k, v in peer.items() %}
{{ k }} = {{ v }}
{% endfor %}
{% if not loop.last %}
{# Empty line for better readability #}

{% endif %}
{% endfor %}
