{# Note: empty variables are not set to make Xfce use its defaults #}
{% if xubuntu_default_web_browser != "" %}
WebBrowser={{ xubuntu_default_web_browser }}
{% endif %}
{% if xubuntu_default_file_manager != "" %}
FileManager={{ xubuntu_default_file_manager }}
{% endif %}
{% if xubuntu_default_mail_reader != "" %}
MailReader={{ xubuntu_default_mail_reader }}
{% endif %}
{% if xubuntu_default_terminal_emulator != "" %}
TerminalEmulator={{ xubuntu_default_terminal_emulator }}
{% endif %}
