{# Note: empty variables are not set to make Xfce use its defaults #}
{% if desktop_xfce_default_web_browser != "" %}
WebBrowser={{ desktop_xfce_default_web_browser }}
{% endif %}
{% if desktop_xfce_default_file_manager != "" %}
FileManager={{ desktop_xfce_default_file_manager }}
{% endif %}
{% if desktop_xfce_default_mail_reader != "" %}
MailReader={{ desktop_xfce_default_mail_reader }}
{% endif %}
{% if desktop_xfce_default_terminal_emulator != "" %}
TerminalEmulator={{ desktop_xfce_default_terminal_emulator }}
{% endif %}
