---
- name: Configure swappiness
  ansible.posix.sysctl:
    name: vm.swappiness
    value: "{{ base_vm_swappiness }}"
    sysctl_file: /etc/sysctl.d/90-linux-setup-playbook.conf
    state: present
    reload: true
  tags: base-system:swappiness

- name: Disable LightDM guest user
  ansible.builtin.copy:
    content: |
      [Seat:*]
      allow-guest=false
    dest: /etc/lightdm/lightdm.conf.d/50-no-guest.conf
    owner: root
    group: root
    mode: "0644"
  tags: base-system:lightdm

- name: Configure systemd Journal disk usage
  ansible.builtin.ini_file:
    path: /etc/systemd/journald.conf
    section: Journal
    option: SystemMaxUse
    value: "{{ base_journald_system_max_use }}"
    create: false
    backup: true
    state: present
  notify: base-system - restart systemd-journald
  tags: base-system:journald

- name: Configure Num Lock behavior
  ansible.builtin.lineinfile:
    path: /etc/default/numlockx
    regexp: "^NUMLOCK=.*$"
    line: "NUMLOCK=keep"
    owner: root
    group: root
    mode: "0644"
    create: false
    state: present
  tags: base-system:numlock

- name: Include sudoers tasks
  ansible.builtin.import_tasks: sudoers.yml
  tags: base-system:sudoers

- name: Include hosts file tasks
  ansible.builtin.import_tasks: hosts-file.yml
  tags: base-system:hosts

- name: Configure alternatives
  community.general.alternatives:
    name: "{{ item.name }}"
    link: "{{ item.link | default(omit) }}"
    path: "{{ item.path }}"
    priority: "{{ item.priority | default(omit) }}"
    state: "{{ item.state | default(omit) }}"
    subcommands: "{{ item.subcommands | default(omit) }}"
  loop: "{{ base_alternatives }}"
  tags: base-system:alternatives
