# {{ ansible_managed }}
# Ref: 'man user-dirs.dirs'

XDG_DESKTOP_DIR="$HOME/Desktop"
XDG_DOWNLOAD_DIR="$HOME/{{ xubuntu_xdg_download_dir }}"
XDG_TEMPLATES_DIR="$HOME/{{ xubuntu_xdg_templates_dir }}"
XDG_PUBLICSHARE_DIR="$HOME/{{ xubuntu_xdg_publicshare_dir }}"
XDG_DOCUMENTS_DIR="$HOME/{{ xubuntu_xdg_documents_dir }}"
XDG_MUSIC_DIR="$HOME/{{ xubuntu_xdg_music_dir }}"
XDG_PICTURES_DIR="$HOME/{{ xubuntu_xdg_pictures_dir }}"
XDG_VIDEOS_DIR="$HOME/{{ xubuntu_xdg_videos_dir }}"
