# {{ ansible_managed  }}

*.box
*.img
*.iso
*.qcow2
*.pyc

.asdf/
.aws-sam/
.config/packer/plugins/
.docusaurus/
.dropbox-dist/
.dropbox/
.gem/
.krew/
.minikube/
.npm/
.nvm/
.rbenv/
.terraform.d/
.terraform/
.terragrunt-cache/
.vagrant/
.venv/
.venvs/
.virtualenvs/
.yarn/
node_modules/
plugin-cache/

restic-ignore/
restic-ignored/
.restic-ignore/
.restic-ignored/

# Home - temporary & test users
/home/temp*
/home/test*

# Home - general
/home/*/.ansible
/home/*/.cache
/home/*/.camera.ui/recordings
/home/*/.chef-workstation
/home/*/.chef/gem
/home/*/.chef/syntaxcache
/home/*/.cinc-workstation
/home/*/.cinc/gem
/home/*/.cinc/syntaxcache
/home/*/.docker/buildx
/home/*/.driftctl/plugins
/home/*/.kube/cache
/home/*/.netskope
/home/*/.pex
/home/*/.rye
/home/*/.shiv
/home/*/.vagrant.d
/home/*/.var
/home/*/.zoom
/home/*/Dropbox
/home/*/dwhelper
/home/*/go
/home/*/VirtualBox VMs

# Home - editors
/home/*/.config/Antigravity
/home/*/.config/Code
/home/*/.config/VSCodium
/home/*/.antigravity
/home/*/.vscode
/home/*/.vscode-oss

# Home - browsers
/home/*/.config/BraveSoftware
/home/*/.config/chromium
/home/*/.config/google-chrome
/home/*/.config/microsoft-edge

/home/*/.mozilla

# Home - config
/home/*/.config/discord
/home/*/.config/Franz
/home/*/.config/GitDock
/home/*/.config/Keybase
/home/*/.config/Lens
/home/*/.config/OpenLens
/home/*/.config/skypeforlinux
/home/*/.config/Slack

# Home - local
/home/*/.local/.grit
/home/*/.local/pipx
/home/*/.local/share/data
/home/*/.local/share/flatpak
/home/*/.local/share/GitKrakenCLI
/home/*/.local/share/helm
/home/*/.local/share/mise
/home/*/.local/share/Trash
/home/*/.local/share/uv
/home/*/.local/share/virtualenv
/home/*/.local/var

# Home - Steam
/home/*/.local/share/Steam
/home/*/.steam*

# Home - WPS Office
/home/*/.kingsoft
/home/*/.local/share/Kingsoft

# root
/root/.cache
/root/.local/pipx
/root/.local/share
/root/.local/var
/root/.rye
/root/.vagrant.d
/root/.var
/root/go
/root/snap

# Misc. files
/arquivos/apps/iso
/arquivos/cache/spotify
/arquivos/cache/temp
/arquivos/cache/torrent*
/arquivos/dados/virtualenvs
/arquivos/jogos/steam
/arquivos/kb
/arquivos/kvm/*images*
/arquivos/media
/arquivos/mega/kb
/arquivos/mp3
/arquivos/vm

# Work-related
dr-git-repos/
*-dr-git-repos/
