---
- name: Install package
  ansible.builtin.apt:
    name: wireguard
    state: present
  tags: wireguard:install

- name: Include configuration tasks
  ansible.builtin.include_tasks:
    file: configure.yml
    apply:
      tags: wireguard:config
  loop: "{{ wireguard_configs }}"
  loop_control:
    loop_var: _wg_config_item

- name: Configure IP forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: "1"
    state: present
    sysctl_file: /etc/sysctl.d/90-wireguard.conf
    reload: true
  when: wireguard_enable_ip_forward
  tags: wireguard:configure
