---
- name: Linux setup - common
  ansible.builtin.import_playbook: common.yml

- name: Linux setup - personal machine
  hosts: all
  gather_facts: "{{ not (skip_facts | default(false)) }}"

  vars_files:
    - "{{ playbook_dir }}/../config.flaudisio.yml"
    - "{{ playbook_dir }}/../config.yml"
    - "{{ playbook_dir }}/../vault.yml"

  roles:
    - role: brave
      tags: brave
    - role: megasync
      tags: megasync
    - role: syncthing
      tags: syncthing
    - role: kvm
      tags: kvm
