---
- name: Install repository key
  ansible.builtin.get_url:
    url: "{{ spotify_apt_repo_key_url }}"
    dest: "{{ spotify_apt_repo_key_file }}"
    force: true
    owner: root
    group: root
    mode: "0644"

- name: Configure repository
  ansible.builtin.apt_repository:
    repo: "{{ spotify_apt_repo_line }}"
    filename: "{{ spotify_apt_repo_file }}"
    state: present
    update_cache: true

- name: Install package
  ansible.builtin.apt:
    name: spotify-client
    state: present
