---
- name: Ensure XDG user dirs exist
  ansible.builtin.file:
    path: "{{ xubuntu_home_dir }}/{{ item }}"
    state: directory
  loop:
    - "{{ xubuntu_xdg_documents_dir }}"
    - "{{ xubuntu_xdg_download_dir }}"
    - "{{ xubuntu_xdg_music_dir }}"
    - "{{ xubuntu_xdg_pictures_dir }}"
    - "{{ xubuntu_xdg_publicshare_dir }}"
    - "{{ xubuntu_xdg_templates_dir }}"
    - "{{ xubuntu_xdg_videos_dir }}"

- name: Create user-dirs file
  ansible.builtin.template:
    src: user-dirs.dirs.j2
    dest: "{{ xubuntu_xdg_user_dirs_file }}"
